.container{
    background-color: blue;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 20px;
    display: flex;
    padding: 30px;
}

.part2>ul>li{
    display: inline;
}
h1{
    display: flex;
}
.part3 > ul > li{
    display: inline;
    color: aliceblue;
    background: greenyellow;
    border-radius: 10px;
}
.part1>h1{
    color: white;
}
.part1>h1>span{
    color: aqua;
}